/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

@import url("./components/btn.css");
@import url("./components/slider.css");
@import url("./components/card.css");
@import url("./components/logo.css");



/*-----------------------------------*\
  #SECTIONS
\*-----------------------------------*/

@import url("./sections/about.css");
@import url("./sections/contact.css");
@import url("./sections/experience.css");
@import url("./sections/header.css");
@import url("./sections/client.css");
@import url("./sections/hero.css");



.make-color-white {
  filter: invert(100%) sepia(100%) saturate(0%);
}





/*-----------------------------------*\
  #COMMON MEDIA QUERIES
\*-----------------------------------*/


@media (min-width: 575px) {
  .client .slider-item .w-100,
  .about-banner,
  .skill-banner {
    max-width: max-content;
    margin-inline: auto;
  }
}

@media (min-width: 992px) {
  :is(.hero, .about, .skill) .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}

