.logo .logo-name {
    position: relative;
    font-size: 2.2em;
    font-weight: 900;
    color: var(--orange-red);
    z-index: 999;
}

.logo .logo-surname {
    font-family: "Cedarville Cursive", cursive;
    position: relative;
    font-size: 2.2em;
    font-style: italic;
    margin-top: -0.9em;
    font-weight: 500;
}