.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 5px;
    padding: 10px;

    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
        /* gap: 20px; */
    }
}

.photo-grid .photo {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo-grid .photo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: white;
    display: block;
    transition: transform 0.3s ease;
}

/* .photo-grid .photo:hover img {
    transform: scale(1.05);
} */

.photo-grid .photo .caption {
    font-size: 14px;
    color: gray;
    padding: 5px 10px;
    text-align: center;
}