.about .container {
  display: grid;
  gap: 50px;
}

.about .section-text { margin-block: 25px 16px; }

.about-list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.about-list .list-text {
  color: var(--jet);
  font-weight: var(--fw-500);
}

.about-list .strong {
  color: var(--orange-red);
  display: block;
}

.about .wrapper {
  margin-block-start: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px 25px;
}

.about-content .section-text {
  margin-block: 0;
  padding-top: 0.8em;
}

.about-content .section-text:first-of-type {
  padding-top: 25px;
}
.about-content .section-text:last-of-type {
  padding-bottom: 16px;
}

.about-banner img {
  max-height: 650px;
  max-width: 100%;
  border-radius: 15px;
  border: 10px solid var(--maximum-yellow-red);
  border-color: #9BD3CD;
}


@media (max-width: 992px) {
  .about-banner { display: none; }
}

@media (min-width: 1200px) {
  .about-list { gap: 40px; }
}