<footer class="footer">
    <div class="container">
        <ul class="social-list">
            {{#each socials}}
            <li>
                <a href="{{this.url}}" class="social-link">
                    <ion-icon name="{{this.icon}}"></ion-icon>
                </a>
            </li>
            {{/each}}
        </ul>

        <p class="text-center">
            &copy; {{ currYear }} All rights reserved.
            {{!-- Template from <a href="https://codewithsadee.github.io/annie/index.html" target="_blank">codewithsadee</a> --}}
        </p>
    </div>
</footer>