<header class="header" data-header>
    <div class="container">
        <a href="#" class="logo">
            {{!-- <img src="./assets/images/logo.svg" width="151" height="28" alt="Annie home" /> --}}
            <span class="logo-name">Simone</span>
            <span class="logo-surname">Carletti</span>
        </a>

        <nav class="navbar" data-navbar>
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a href="#" class="label-lg navbar-link has-after active">Home</a>
                </li>

                <li class="navbar-item">
                    <a href="#portfolio" class="label-lg navbar-link has-after">Experience</a>
                </li>

                <li class="navbar-item">
                    <a href="#contact" class="label-lg navbar-link has-after">Contact</a>
                </li>

                <li class="navbar-item download-cv-btn-navbar">
                    <a href="./assets/CV.pdf" target="_blank" class="label-lg navbar-link">
                        <ion-icon name="download" style="font-size: 1.2em; margin-right: 0.5em"></ion-icon>
                        Download CV
                    </a>
                </li>
            </ul>
        </nav>

        <a href="./assets/CV.pdf" target="_blank" class="download-cv-btn btn btn-primary">
            <ion-icon name="download" style="font-size: 1.2em; margin-right: 0.5em"></ion-icon>
            Download CV
        </a>

        <button class="nav-toggle-btn" aria-label="menu" data-nav-toggler>
            <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
        </button>
    </div>
</header>

