    <!-- #SKILL -->
    <section id="portfolio" class="section skill" aria-labelledby="skill-label">
        <div class="container">
            <div class="skill-content">
                <h2 class="section-title headline-md" id="skill-label">My Skills</h2>

                <ul class="skill-list">
                    <li>
                        <div class="card card-sm" style="background-color: hsl(177, 39%, 72%)">
                            <div class="card-media">
                                <ion-icon name="logo-html5"></ion-icon>
                            </div>

                            <h2 class="card-title">HTML</h2>
                        </div>
                    </li>

                    <li>
                        <div class="card card-sm" style="background-color: hsl(41, 99%, 64%)">
                            <div class="card-media">
                                <ion-icon name="logo-css3"></ion-icon>
                            </div>

                            <h2 class="card-title">CSS</h2>
                        </div>
                    </li>

                    <li>
                        <div class="card card-sm" style="background-color: hsl(19, 97%, 85%)">
                            <div class="card-media">
                                <ion-icon name="logo-react"></ion-icon>
                            </div>

                            <h2 class="card-title">React JS</h2>
                        </div>
                    </li>

                    <li>
                        <div class="card card-sm" style="background-color: hsl(221, 100%, 79%)">
                            <div class="card-media">
                                <ion-icon name="logo-angular"></ion-icon>
                            </div>

                            <h2 class="card-title">Angular</h2>
                        </div>
                    </li>

                    <li>
                        <div class="card card-sm" style="background-color: hsl(76, 39%, 72%)">
                            <div class="card-media">
                                <ion-icon name="logo-apple"></ion-icon>
                            </div>

                            <h2 class="card-title">iOs App</h2>
                        </div>
                    </li>

                    <li>
                        <div class="card card-sm" style="background-color: hsl(245, 100%, 90%)">
                            <div class="card-media">
                                <ion-icon name="logo-android"></ion-icon>
                            </div>

                            <h2 class="card-title">App Dev</h2>
                        </div>
                    </li>
                </ul>
            </div>

            <figure class="skill-banner">
                <img src="./assets/images/skill-banner.png" width="581" height="657" loading="lazy"
                    alt="Annie, the blonde, dressed in a green hoodie with a smile on her face" class="w-100" />
            </figure>
        </div>
    </section>